{% extends 'general/base.html' %}

{% block content %}
        <div class="club-container">
            <h1 class="club-title">О Клубе Любителей Раков</h1>

            <p class="club-text">
                <strong>Название:</strong> Клуб Любителей Раков
            </p>
            <p class="club-text">
                <strong>Основание:</strong> Клуб Любителей Раков был создан в 2022 году группой
                энтузиастов и гурманов, восхищенных уникальным вкусом и кулинарными качествами
                ракообразных.
            </p>
            <p class="club-text">
                <strong>Миссия:</strong> Наша миссия - объединить любителей раков со всего мира,
                обменяться опытом их приготовления, а также способствовать устойчивому потреблению
                ракообразных, сохраняя баланс между удовольствием от их употребления и заботой об
                окружающей среде.
            </p>

            <h2 class="section-title">Деятельность:</h2>
            <ul class="club-text">
                <li>Кулинарные мероприятия: Регулярное проведение кулинарных мастер-классов,
                    дегустаций
                    и фестивалей, посвященных блюдам из раков.
                </li>
                <li>Обмен опытом: Создание онлайн-платформы для обмена рецептами, методами
                    приготовления
                    и личным опытом употребления раков в пищу.
                </li>
                <li>Поддержка устойчивого потребления: Информирование членов клуба о важности
                    устойчивого отношения к потреблению ракообразных, включая поддержку местных
                    фермеров
                    и поставщиков.
                </li>
                <li>Сообщество и события: Организация встреч, где члены клуба могут общаться,
                    обмениваться знаниями и наслаждаться вкусом раков в дружеской атмосфере.
                </li>
            </ul>

            <p class="club-text">
                <strong>Членство и Поддержка:</strong> Клуб открыт для всех, кто ценит и любит раков
                как
                деликатес. Членство предоставляет доступ к эксклюзивным мероприятиям, рецептам и
                образовательным материалам.
            </p>

            <p class="contact-info">
                Для связи:
                crayfishadorer@gmail.com
            </p>
        </div>
{% endblock %}
