{% extends 'general/base.html' %}

{% block content %}
    <div class="club-container">
        <h1>Список профилей</h1>
        <div class="profiles-list">
            {% for profile in profiles %}
                <div class="profile-item">
                    <img src="{{ profile.get_avatar }}" alt="Аватар {{ profile.user.username }}">
                    <h2>{{ profile.user.username }}</h2>
                    <p>{{ profile.bio|truncatewords:20 }}</p>
                    <a href="{{ profile.get_absolute_url }}">Посмотреть профиль</a>
                </div>
            {% empty %}
                <p>Профилей пока нет.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
